body {
    font-size: 16px;
    padding: .2em 2em 1em;
    line-height: 1.5;
    color: #444;
    background-color: #eee;
}

h1 {
    margin-bottom: 1em;
    padding: .2em .4em;
    font-weight: lighter;
    color: #eee;
    background-color: #444;
}

a {
    color: rgb(241, 127, 20);
}

p {
    text-indent: 2em;
}

form p {
    text-indent: 0;
}

button {
    font-size: 1em;
    padding: 1em 1.5em;
    font-family: inherit;
    cursor: pointer;
    color: inherit;
}

input, textarea {
    padding: .3em .4em;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}